@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Sigmar&display=swap');

:root {
    --cor-header: darkslategray;
    --cor-body: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-header);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}

header a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    padding: 2%;
}

header img {
    width: 175px;
    height: 175px;
}

body {
    background-color: var(--cor-body);
}

body section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    padding-top: 5%;
    padding-bottom: 20px;
}