@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

/*Declaracao de variavel no CSS*/
:root {
    --cor-fundo: dimgray; 
}

* {
    color: whitesmoke;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
}

h1 {
    font-size: 4.0rem;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 3.0rem;
    margin-top: 5%;
}

h3 {
    font-size: 2.0rem;
    margin-bottom: 2.5%;
}

img {
    margin-top: 50px;
    width: 50rem;
}

p {
    font-size: 1.5rem;
}

a {
    font-size: 1.7rem;
    text-decoration: none;
}

.login {
    padding: 400px;
}

.search {
    padding: 400px;
}

.welcome {
    padding: 22%;
}

.about {
    margin-top: 12%;
    margin-bottom: 5%;
    font-size: 5.0rem;
}
.aboutTxt {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
}

.cnpj {
    margin-top: 5%;
}